.menu{
  margin: 20px 10px;
  font-size: 30px;
}
.menu span{
  width: 50px;
  height: 50px;
  text-align: center;
  line-height: 50px;
  color: white;
  border: 1px solid black;
  background: #E9967A;
  box-shadow: inset 4px 4px 30px white;
  border-radius: 5px;
}
.fa-home:hover ~ div span{
  transition: all 1s ease-out;
  margin-left: 0px;
  background: #1E90FF;
}
.menu div span{
  transition: all 1s ease-out 0.2s;
  margin: 0px 0px 0px -100px;
}
.menu div span:hover{
  margin-left: 0px;
  transform: scale(1.2);
}
